*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #fff;
}
.navbar{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 300px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #4d5bf9;
    background: #4d5bf9;
    transition: 0.5s;
}
.navbar ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 70px;
    padding-left: 5px;
}
.navbar ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.navbar ul li.active{
    background: #fff;
    margin-top: 10px;
    position: relative;
    top: -10px;
}
.navbar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: whitesmoke;
}
.navbar ul li.active a{
    color: #333;
}
.navbar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 70px;
    line-height: 20px;
    text-align: center;
}
.navigation ul li a .icon .fa-solid{
    font-size: 1.5em;
}
.navigation ul li a .header{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 70px;
    line-height: 60px;
    white-space: normal;
}
